REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=Crypto tracker by u/your_username
YOUTUBE_API_KEY=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crypto

# Local host run:
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/crypto

# Docker Compose run:
# DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/crypto

ADMIN_API_KEY=

# Automated ingestion with Raspberry Pi using Tailscale
# Automated CI/CD on the Pi through Github Actions
# Add in Github Action secrets
#TS_OAUTH_CLIENT_ID=
#TS_OAUTH_SECRET=
#PI_TAILSCALE_HOST=
#PI_USER=
#PI_SSH_KEY=

DEMO=0
HF_DEVICE=-1
